#cont1{
	background-color: green;
	text-align: center;
}
#cont2{
	margin-top: 10px;
	background-color: orange;
	text-align: center;
}
.container{
	background-color: grey;
	text-align: center;
}
#change{
	background-color: yellow;
}
.col-md-4{
	padding:15px;
}
#rich{
	background-color: pink;
}
#porche{
	background-color: violet;
	text-align: center;
}
#rich1{
	background-color: rgb(200,50,215);
	text-align: center;
}
#porche1{
	background-color: white;
}
